openapi: 3.1.0
info:
  title: Heyrafiki API
  version: 1.0.0
  description: Build Care, Cover and Payment workflows on Heyrafiki.
  contact:
    name: Heyrafiki
    url: https://heyrafiki.space
    email: developers@heyrafiki.space
  license:
    name: All rights reserved
    identifier: LicenseRef-Heyrafiki-Proprietary
servers:
  - url: https://api.heyrafiki.space/v1
security:
  - bearerAuth: []
  - apiKeyAuth: []
paths:
  /:
    get:
      operationId: getApi
      summary: Inspect the API version and environment
      description: Returns API metadata for the authenticated project.
      responses:
        "200":
          description: API information
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInformation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /practitioners:
    get:
      operationId: listPractitioners
      summary: List Practitioners
      description: Returns synthetic Practitioner profiles. Requires `practitioners:read`.
      parameters:
        - name: limit
          in: query
          description: Maximum number of Practitioners to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A Practitioner list
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PractitionerList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /practitioners/{practitioner_id}:
    get:
      operationId: getPractitioner
      summary: Retrieve a Practitioner
      description: Returns one synthetic Practitioner profile. Requires `practitioners:read`.
      parameters:
        - $ref: "#/components/parameters/PractitionerId"
      responses:
        "200":
          description: A Practitioner
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Practitioner"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /practitioners/{practitioner_id}/availability:
    get:
      operationId: getPractitionerAvailability
      summary: Retrieve Practitioner availability
      description: Returns recurring synthetic weekly hours. Requires `availability:read`.
      parameters:
        - $ref: "#/components/parameters/PractitionerId"
      responses:
        "200":
          description: Practitioner availability
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PractitionerAvailability"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /bookings:
    get:
      operationId: listBookings
      summary: List Bookings
      description: Returns tenant-scoped synthetic Bookings. Requires `bookings:read`.
      parameters:
        - name: limit
          in: query
          description: Maximum number of Bookings to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A Booking list
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      operationId: createBooking
      summary: Create a Booking
      description: Creates one synthetic Booking and Session. Requires `bookings:write`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingInput"
      responses:
        "200":
          description: The idempotent Booking was returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "201":
          description: The Booking was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/Unprocessable"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /bookings/{booking_id}:
    get:
      operationId: getBooking
      summary: Retrieve a Booking
      description: Returns one tenant-scoped synthetic Booking. Requires `bookings:read`.
      parameters:
        - $ref: "#/components/parameters/BookingId"
      responses:
        "200":
          description: A Booking
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /sessions:
    get:
      operationId: listSessions
      summary: List Sessions
      description: Returns synthetic Sessions without Person or clinical identifiers. Requires `sessions:read`.
      parameters:
        - name: limit
          in: query
          description: Maximum number of Sessions to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A Session list
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /sessions/{session_id}:
    get:
      operationId: getSession
      summary: Retrieve a Session
      description: Returns one synthetic Session without Person or clinical identifiers. Requires `sessions:read`.
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: A Session
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /claims:
    get:
      operationId: listClaims
      summary: List Claims
      description: Returns synthetic Claim status without Person, payer or clinical identifiers. Requires `claims:read`.
      parameters:
        - name: limit
          in: query
          description: Maximum number of Claims to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A Claim list
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /claims/{claim_id}:
    get:
      operationId: getClaim
      summary: Retrieve a Claim
      description: Returns one synthetic Claim without Person, payer or clinical identifiers. Requires `claims:read`.
      parameters:
        - $ref: "#/components/parameters/ClaimId"
      responses:
        "200":
          description: A Claim
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Claim"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /webhook_endpoints:
    get:
      operationId: listWebhookEndpoints
      summary: List Webhook endpoints
      description: Returns Webhook endpoints for the authenticated project. Requires `webhooks:read`.
      parameters:
        - name: limit
          in: query
          description: Maximum number of endpoints to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A Webhook endpoint list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      operationId: createWebhookEndpoint
      summary: Create a Webhook endpoint
      description: Registers an endpoint and returns its signing secret once. Requires `webhooks:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEndpointInput"
      responses:
        "201":
          description: The Webhook endpoint was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointWithSecret"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/Unprocessable"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /webhook_endpoints/{webhook_endpoint_id}:
    get:
      operationId: getWebhookEndpoint
      summary: Retrieve a Webhook endpoint
      description: Returns one Webhook endpoint. Requires `webhooks:read`.
      parameters:
        - $ref: "#/components/parameters/WebhookEndpointId"
      responses:
        "200":
          description: A Webhook endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      operationId: disableWebhookEndpoint
      summary: Disable a Webhook endpoint
      description: Stops delivery to one Webhook endpoint. Requires `webhooks:write`.
      parameters:
        - $ref: "#/components/parameters/WebhookEndpointId"
      responses:
        "200":
          description: The disabled Webhook endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpoint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /webhook_endpoints/{webhook_endpoint_id}/test:
    post:
      operationId: testWebhookEndpoint
      summary: Send a test event
      description: Sends `sandbox.ping` to an active sandbox endpoint. Requires `webhooks:write`.
      parameters:
        - $ref: "#/components/parameters/WebhookEndpointId"
      responses:
        "200":
          description: The test event was delivered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDelivery"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          description: The endpoint did not accept the test event.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDelivery"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
components:
  parameters:
    PractitionerId:
      name: practitioner_id
      in: path
      required: true
      description: A public Practitioner identifier.
      schema:
        type: string
        maxLength: 100
        pattern: ^prc_[A-Za-z0-9_-]+$
    SessionId:
      name: session_id
      in: path
      required: true
      description: A public Session identifier.
      schema:
        type: string
        maxLength: 100
        pattern: ^ses_[A-Za-z0-9_-]+$
    ClaimId:
      name: claim_id
      in: path
      required: true
      description: A public Claim identifier.
      schema:
        type: string
        maxLength: 100
        pattern: ^clm_[A-Za-z0-9_-]+$
    BookingId:
      name: booking_id
      in: path
      required: true
      description: A public Booking identifier.
      schema:
        type: string
        maxLength: 100
        pattern: ^bkg_[A-Za-z0-9_-]+$
    WebhookEndpointId:
      name: webhook_endpoint_id
      in: path
      required: true
      description: A public Webhook endpoint identifier.
      schema:
        type: string
        maxLength: 100
        pattern: ^whe_[A-Za-z0-9_-]+$
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: A caller-owned key for safely retrying one write.
      schema:
        type: string
        minLength: 8
        maxLength: 255
  headers:
    RateLimitLimit:
      description: Maximum requests allowed in the current minute.
      schema:
        type: integer
    RateLimitRemaining:
      description: Requests remaining in the current minute.
      schema:
        type: integer
    RateLimitReset:
      description: Unix timestamp when the current limit resets.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A sandbox or production secret key.
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: An alternative for clients that cannot set Authorization.
  responses:
    BadRequest:
      description: The request failed validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Unauthorized:
      description: The API key is missing or invalid.
      headers:
        WWW-Authenticate:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Forbidden:
      description: The API key does not permit this operation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: The requested resource does not exist or is not visible to this project.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Conflict:
      description: The request conflicts with current state.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Unprocessable:
      description: The request is valid but cannot be completed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    TooManyRequests:
      description: The project exceeded its request limit.
      headers:
        Retry-After:
          description: Seconds until another request should be attempted.
          schema:
            type: integer
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ServiceUnavailable:
      description: The service is temporarily unavailable.
      headers:
        Retry-After:
          schema:
            type: integer
            example: 5
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    ApiInformation:
      type: object
      additionalProperties: false
      required: [object, version, environment, resources]
      properties:
        object:
          type: string
          const: api
        version:
          type: string
          const: v1
        environment:
          type: string
          enum: [sandbox, production]
        resources:
          type: array
          items:
            type: string
    PractitionerList:
      type: object
      additionalProperties: false
      required: [object, data, has_more]
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            $ref: "#/components/schemas/Practitioner"
        has_more:
          type: boolean
    Practitioner:
      type: object
      additionalProperties: false
      required: [id, object, name, profession, location, session_fee]
      properties:
        id:
          type: string
          maxLength: 100
          pattern: ^prc_[A-Za-z0-9_-]+$
        object:
          type: string
          const: practitioner
        name:
          type: string
        profession:
          type: string
        location:
          type: object
          additionalProperties: false
          required: [city, country]
          properties:
            city:
              type: string
            country:
              type: string
        session_fee:
          type: object
          additionalProperties: false
          required: [amount, currency]
          properties:
            amount:
              type: integer
              minimum: 0
              description: Amount in the currency's minor unit.
            currency:
              type: string
              pattern: ^[A-Z]{3}$
    PractitionerAvailability:
      type: object
      additionalProperties: false
      required: [object, practitioner_id, timezone, weekly_hours]
      properties:
        object:
          type: string
          const: availability
        practitioner_id:
          type: string
          maxLength: 100
          pattern: ^prc_[A-Za-z0-9_-]+$
        timezone:
          type: string
          example: Africa/Nairobi
        weekly_hours:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [weekday, start, end, formats]
            properties:
              weekday:
                type: integer
                minimum: 0
                maximum: 6
                description: Day of week, where Sunday is 0.
              start:
                type: string
                pattern: ^(?:[01][0-9]|2[0-3]):[0-5][0-9]$
              end:
                type: string
                pattern: ^(?:[01][0-9]|2[0-3]):[0-5][0-9]$
              formats:
                type: array
                items:
                  type: string
                  enum: [online, in_person, phone]
    BookingList:
      type: object
      additionalProperties: false
      required: [object, data, has_more]
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            $ref: "#/components/schemas/Booking"
        has_more:
          type: boolean
    Booking:
      type: object
      additionalProperties: false
      required:
        [id, object, session_id, practitioner_id, starts_at, ends_at, timezone, format, status, payment_source]
      properties:
        id:
          type: string
          maxLength: 100
          pattern: ^bkg_[A-Za-z0-9_-]+$
        object:
          type: string
          const: booking
        session_id:
          type: string
          maxLength: 100
          pattern: ^ses_[A-Za-z0-9_-]+$
        practitioner_id:
          type: string
          maxLength: 100
          pattern: ^prc_[A-Za-z0-9_-]+$
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        timezone:
          type: string
        format:
          type: string
          enum: [online, in_person, phone]
        status:
          type: string
          enum: [reserved, confirmed, cancelled]
        payment_source:
          type: string
          enum: [self_pay, covered]
    BookingInput:
      type: object
      additionalProperties: false
      required: [practitioner_id, starts_at, ends_at, format, payment_source]
      properties:
        practitioner_id:
          type: string
          maxLength: 100
          pattern: ^prc_[A-Za-z0-9_-]+$
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        format:
          type: string
          enum: [online, in_person, phone]
        payment_source:
          type: string
          enum: [self_pay, covered]
    SessionList:
      type: object
      additionalProperties: false
      required: [object, data, has_more]
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            $ref: "#/components/schemas/Session"
        has_more:
          type: boolean
    Session:
      type: object
      additionalProperties: false
      required:
        [id, object, practitioner_id, starts_at, ends_at, timezone, format, status, payment_source]
      properties:
        id:
          type: string
          maxLength: 100
          pattern: ^ses_[A-Za-z0-9_-]+$
        object:
          type: string
          const: session
        practitioner_id:
          type: string
          maxLength: 100
          pattern: ^prc_[A-Za-z0-9_-]+$
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        timezone:
          type: string
          example: Africa/Nairobi
        format:
          type: string
          enum: [online, in_person, phone]
        status:
          type: string
          enum: [reserved, confirmed, in_progress, delivered, cancelled]
        payment_source:
          type: string
          enum: [self_pay, covered]
    ClaimList:
      type: object
      additionalProperties: false
      required: [object, data, has_more]
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            $ref: "#/components/schemas/Claim"
        has_more:
          type: boolean
    Claim:
      type: object
      additionalProperties: false
      required: [id, object, status, amount, service_period]
      properties:
        id:
          type: string
          maxLength: 100
          pattern: ^clm_[A-Za-z0-9_-]+$
        object:
          type: string
          const: claim
        status:
          type: string
          enum: [draft, submitted, approved, settled, queried, denied]
        amount:
          type: object
          additionalProperties: false
          required: [currency, billed, approved, settled]
          properties:
            currency:
              type: string
              pattern: ^[A-Z]{3}$
            billed:
              type: integer
              minimum: 0
            approved:
              type: [integer, "null"]
              minimum: 0
            settled:
              type: [integer, "null"]
              minimum: 0
        service_period:
          type: object
          additionalProperties: false
          required: [starts_at, ends_at]
          properties:
            starts_at:
              type: string
              format: date-time
            ends_at:
              type: string
              format: date-time
    WebhookEndpointList:
      type: object
      additionalProperties: false
      required: [object, data, has_more]
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEndpoint"
        has_more:
          type: boolean
    WebhookEndpoint:
      type: object
      additionalProperties: false
      required: [id, object, url, events, status, created_at, disabled_at]
      properties:
        id:
          type: string
          maxLength: 100
          pattern: ^whe_[A-Za-z0-9_-]+$
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, disabled]
        created_at:
          type: string
          format: date-time
        disabled_at:
          type: [string, "null"]
          format: date-time
    WebhookEndpointWithSecret:
      type: object
      additionalProperties: false
      required:
        [id, object, url, events, status, created_at, disabled_at, signing_secret]
      properties:
        id:
          type: string
          maxLength: 100
          pattern: ^whe_[A-Za-z0-9_-]+$
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, disabled]
        created_at:
          type: string
          format: date-time
        disabled_at:
          type: [string, "null"]
          format: date-time
        signing_secret:
          type: string
          readOnly: true
    WebhookEndpointInput:
      type: object
      additionalProperties: false
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
          maxLength: 2048
        events:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: string
            const: sandbox.ping
    WebhookDelivery:
      type: object
      additionalProperties: false
      required: [id, object, delivered, attempts, response_status]
      properties:
        id:
          type: string
          pattern: ^evt_[A-Za-z0-9_-]+$
        object:
          type: string
          const: webhook_delivery
        delivered:
          type: boolean
        attempts:
          type: integer
          minimum: 0
          maximum: 3
        response_status:
          type: [integer, "null"]
          minimum: 100
          maximum: 599
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, docs]
          properties:
            code:
              type: string
            message:
              type: string
            docs:
              type: string
              format: uri
